.event-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  width: 45%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-img {
  position: relative;
}

.event-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.event-date {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  color: #ED9121;
  border-radius: 8px;
  text-align: center;
  padding: 6px 12px;
  font-weight: 600;
}

.event-date p {
  margin: 0;
  font-size: 20px;
}

.event-date span {
  font-size: 12px;
}

.event-content {
  padding: 20px;
}

.event-content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.event-content p {
  color: #555;
  font-size: 15px;
  margin: 10px 0;
}

.event-content hr {
  margin: 10px 0;
  border: none;
  height: 1px;
  background: #eee;
}

.venue strong {
  color: #ED9121;
}

.event-btn {
  margin-top: 15px;
  background: #ED9121;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}

.event-btn:hover {
  background: #ED9121;
}
