.events-list {
  padding: 60px 80px;
  background: #f9f9f9;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.pagination {
  text-align: center;
  margin-top: 40px;
}

.pagination button {
  margin: 0 6px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-weight: 600;
  cursor: pointer;
}

.pagination .active {
  background: #ED9121;
  color: white;
  border-color: #ED9121;
}

.event-details {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
}

.event-details-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background: #222;
  padding: 10px 18px;
  border-radius: 6px;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.back-btn:hover {
  background: #444;
}
