.events-hero {
  background: url("https://img1.wsimg.com/isteam/ip/72ab1d19-9a70-40bf-8977-a857ec90d38d/8.Girls_raising_hand1.jpg/:/rs=w:2560,h:1410") center/cover no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}


.events-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}


.events-context {
  color: white;
  text-align: center;
}

.events-overlay h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.events-overlay p {
  font-size: 16px;
  color: #e5e5e5;
}

.events-overlay span {
  margin: 0 5px;
}